<div class="main">
    <h1>Welcome To CSE Motors</h1>
    <div class="hero">
        <div class="hero-text">
            <h2>DMC Delorean</h2>
            <p>3 Cup Holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>
            <a href="/" title="Click here">Own Today</a>
            
        </div>
        <picture>
            <source srcset="../images/vehicles/delorean-tn.jpg" media="(max-width: 400px)">
            <img src="../images/vehicles/delorean.jpg" alt="CSE Motors hero image">
        </picture>
    </div>
</div>